* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

section {
  padding: 0 calc(50vw - 570px);
}

.top {
  height: 764px;
  background: #F1E4E6;
}

.top__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-image: url(../img/man.png);
  background-repeat: no-repeat;
  background-position: -218px bottom;
}

.top__text {
  max-width: 405px;
  padding-left: 16px;
  border-left: 12px solid #F16D7F;
}

.top__text h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}

.top__text--strong {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.top__text--red {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #F16D7F;
}

.category {
  margin: 65px 0 96px 0;
}

.category__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.category__item {
  width: 100%;
  height: 180px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.category__item:not(:last-child) {
  width: 360px;
  height: 260px;
  margin: 0 0 30px 0;
}

.category__img {
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  background-color: rgba(33, 22, 22, 0.7);
}

.category__text {
  position: absolute;
  max-width: 160px;
}

.category__text h3 {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.category__text--red {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.for_women {
  background-image: url(../img/for_women.jpg);
}

.for_man {
  background-image: url(../img/for_men.jpg);
}

.for_kids {
  background-image: url(../img/for_kids.jpg);
}

.accesories {
  background-image: url(../img/accesories.jpg);
}

.fetured {
  margin-bottom: 96px;
}

.fetured__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 48px;
  text-align: center;
}

.fetured__info h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin-bottom: 6px;
}

.fetured__info p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 49px;
}

.product__button {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  text-decoration: none;
  padding: 14px 38px;
  border: 1px solid #FF6A6A;
}

.product__button:hover {
  color: white;
  background: #f16d7f;
}

.advantages {
  background: #222224;
}

.advantages__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 103px 0 104px 0;
}

.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.advantages__item h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 24px;
  color: #FBFBFB;
  margin: 60px 0 16px 0;
}

.advantages__item p {
  max-width: 360px;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  color: #FBFBFB;
}

.truck {
  background-image: url(../img/car.svg);
  background-repeat: no-repeat;
  background-position: top;
}

.sale {
  background-image: url(../img/sale.svg);
  background-repeat: no-repeat;
  background-position: top;
}

.crown {
  background-image: url(../img/crown.svg);
  background-repeat: no-repeat;
  background-position: top;
}

header {
  background: #222222;
  padding: 19px 10px;
  position: relative;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 41px;
  text-decoration: none;
}

.header__item {
  cursor: pointer;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-decoration: none;
}

.header__item:not(:last-child) {
  margin-right: 33px;
}

.header__wrap {
  position: relative;
  padding: 37px 0 0 34px;
  overflow: hidden;
}

.header__wrap ul {
  list-style-type: none;
}

.header__wrap label {
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 16px;
}

.header__wrap--strong {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 24px;
}

.header__wrap--red {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-bottom: 12px;
}

.header__wrap li:not(:last-child) {
  margin-bottom: 11px;
}

.header__wrap li:last-child {
  margin-bottom: 20px;
}

.header__wrap a {
  text-decoration: none;
  color: #6F6E6E !important;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.header__toggle {
  display: none;
}

.header__menu {
  top: 100%;
  right: 0;
  position: absolute;
  width: 232px;
  height: 764px;
  z-index: 2;
  background: white;
  -webkit-box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
}

#toggle:checked ~ .header__menu {
  display: block;
}

#toggle:not(:checked) ~ .header__menu {
  display: none;
}

@media (max-width: 667px) {
  .hidden {
    display: none;
  }
}

.footer {
  background-blend-mode: lighten;
  background-color: rgba(244, 244, 244, 0.7);
  background-image: url(../img/back_footer.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 97px 0 126px 0;
  background-image: url(../img/face.png);
  background-repeat: no-repeat;
  background-position: top;
  max-height: 225px;
  max-width: 360px;
  text-align: center;
}

.footer__text p {
  margin-top: 126px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #222224;
  text-align: center;
}

.footer-basement {
  background: #222224;
}

.footer-basement__content {
  padding: 24px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-basement__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.footer-basement__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-basement__item {
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
}

.footer-basement__item:not(:last-child) {
  margin-right: 7px;
}

.footer-basement__item:hover {
  background-color: #F16D7F;
}

.footer-basement__item:hover svg {
  fill: #FFFFFF;
}

.footer-basement__item svg {
  fill: #000000;
}

.footer-basement__link {
  width: 32px;
  height: 32px;
  color: #000000;
  font-size: 20px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-basement__link:not(:last-child) {
  margin-right: 7px;
}

.footer-basement__link:hover {
  color: #FFFFFF;
  background: #f16d7f;
}

.subscribe-form {
  max-width: 557px;
  margin: 150px 0 156px 0;
}

.subscribe-form h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #222224;
  text-align: center;
  margin-bottom: 32px;
}

.subscribe-form span {
  font-weight: bold;
  font-size: 24px;
}

.subscribe-form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe-form__input {
  background: #E1E1E1;
  width: 256px;
  height: 49px;
  border-radius: 50px 0 0 50px;
  border: 0px;
  padding-left: 22px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

.subscribe-form__button {
  cursor: pointer;
  background: #f16d7f;
  width: 100px;
  height: 49px;
  border-radius: 0 50px 50px 0;
  border: 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

@media (max-width: 1024px) {
  .footer {
    background-image: url(../img/back_footer2.jpg);
  }
  .footer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__text {
    margin: 53px 0 48px 0;
  }
  .subscribe-form {
    margin: 0px 0 140px 0;
  }
}

@media (max-width: 667px) {
  .footer__text {
    margin: 53px 0 59px 0;
  }
  .footer__text p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #222224;
  }
  .subscribe-form {
    margin: 0px 0 109px 0;
  }
  .subscribe-form h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #222224;
  }
  .subscribe-form span {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 37px;
    color: #222224;
  }
  .footer-basement__content {
    padding: 43px 0 24px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-basement__text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer-basement__list {
    margin-bottom: 25px;
  }
}

.cards__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  width: 360px;
  height: 581px;
  background: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card:nth-child(-n+3) {
  margin-bottom: 30px;
}

.card__item {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card__item:hover {
  -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.card__item:hover .card__overlay {
  opacity: 1;
}

.card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: rgba(58, 56, 56, 0.86);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card__btn {
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding: 14px 16px 12px 50px;
  background-image: url("data:image/svg+xml,%3Csvg width='27' height='25' viewBox='0 0 27 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.876 22.2662C21.921 22.2549 21.9423 22.2339 21.96 22.2129C21.9678 22.2037 21.9756 22.1946 21.9835 22.1855C22.02 22.1438 22.0233 22.0553 22.0224 22.0105C22.0092 21.9044 21.9185 21.8315 21.8412 21.8315C21.8375 21.8315 21.8336 21.8317 21.8312 21.8318C21.7531 21.8372 21.6653 21.9409 21.6719 22.0625C21.6813 22.1793 21.7675 22.2662 21.8392 22.2662H21.876ZM8.21954 22.2599C8.31873 22.2599 8.39935 22.1655 8.39935 22.0496C8.39935 21.9341 8.31873 21.8401 8.21954 21.8401C8.12042 21.8401 8.03973 21.9341 8.03973 22.0496C8.03973 22.1655 8.12042 22.2599 8.21954 22.2599ZM21.9995 24.2662C21.9517 24.2662 21.8878 24.2662 21.8392 24.2662C20.7017 24.2662 19.7567 23.3545 19.6765 22.198C19.5964 20.9929 20.4937 19.9183 21.6953 19.8364C21.7441 19.8331 21.7928 19.8315 21.8412 19.8315C22.9799 19.8315 23.9413 20.7324 24.019 21.8884C24.0505 22.4915 23.8741 23.0612 23.4898 23.5012C23.1055 23.9575 22.5764 24.2177 21.9995 24.2662ZM8.21954 24.2599C7.01532 24.2599 6.03973 23.2709 6.03973 22.0496C6.03973 20.8291 7.01532 19.8401 8.21954 19.8401C9.42371 19.8401 10.3994 20.8291 10.3994 22.0496C10.3994 23.2709 9.42371 24.2599 8.21954 24.2599ZM21.1984 17.3938H9.13306C8.70013 17.3938 8.31586 17.1005 8.20331 16.6775L4.27753 2.24768H1.52173C0.993408 2.24768 0.560547 1.80859 0.560547 1.27039C0.560547 0.733032 0.993408 0.292969 1.52173 0.292969H4.99933C5.43134 0.292969 5.81561 0.586304 5.9281 1.01025L9.85394 15.4391H20.5576L24.1144 7.13379H12.2578C11.7286 7.13379 11.2957 6.69373 11.2957 6.15649C11.2957 5.61914 11.7286 5.17908 12.2578 5.17908H25.5886C25.9091 5.17908 26.2141 5.34192 26.3896 5.61914C26.566 5.89539 26.5984 6.23743 26.4697 6.547L22.0795 16.807C21.9193 17.1653 21.5827 17.3938 21.1984 17.3938Z' fill='white'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 11px center;
  background-color: rgba(58, 56, 56, 0.24);
  border: 1px solid #FFFFFF;
}

.card__btn a {
  color: #FFFFFF !important;
  text-decoration: none;
}

.card__text {
  padding: 25px 29px 20px 16px;
}

.card__text a {
  text-decoration: none;
}

.card__text h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 12px;
}

.card__text p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-bottom: 18px;
}

.card__text span {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.catalog {
  margin: 51px 0 97px 0;
}

.catalog__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 64px;
}

.filter {
  left: 16px;
  cursor: pointer;
  width: 360px;
  position: relative;
  outline: none;
  border: none;
  background: #FFFFFF;
}

.filter__content {
  position: absolute;
  background: #FFFFFF;
  width: 360px;
  -webkit-box-shadow: 16px 25px 23px 2px rgba(0, 0, 0, 0.21);
          box-shadow: 16px 25px 23px 2px rgba(0, 0, 0, 0.21);
  padding: 16px 0 0 16px;
}

.filter__content > details > summary {
  display: block;
  width: 327px;
  color: #EF5B70;
  outline: none;
  border-left: 5px solid #EF5B70;
  border-bottom: 1px solid #EBEBEB;
  padding: 11px;
  margin-bottom: 18px;
}

.filter summary {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.filter svg {
  fill: black;
}

.filter[open] {
  z-index: 2;
  left: 0;
  top: 0;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.filter[open] > summary {
  color: #EF5B70;
  outline: none;
  border: none;
  padding: 13px 0 0 16px;
}

.filter[open] > summary svg {
  fill: #EF5B70;
}

.filter__list {
  list-style: none;
  margin: 24px 0 24px 34px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.filter__list li:not(:last-child) {
  margin-bottom: 11px;
}

details > summary {
  list-style: none;
}

select {
  border: 1px solid white;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
}

.sort__select {
  cursor: pointer;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.sort__select:not(:last-child) {
  margin-right: 28px;
}

.sort__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 9px 0 12px 9px;
  width: 79px;
  height: 103px;
  position: absolute;
  z-index: 2;
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.sort__checkbox input {
  cursor: pointer;
  margin-right: 9px;
}

.sort__checkbox input:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.sort__item {
  position: relative;
}

.card:nth-child(-n+6) {
  margin-bottom: 30px;
}

.card_pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 48.5px;
}

ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
  border: 1px solid #EBEBEB;
}

ul.pagination li {
  display: inline;
}

ul.pagination li a {
  text-decoration: none;
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
}

ul.pagination li a:hover {
  color: #EF5B70;
}

.intro {
  background: #f8f3f4;
}

.intro__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 16px;
}

.intro__wrap h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  margin: 60px 0;
}

.intro__wrap h3 {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.intro__wrap span {
  font-weight: bold;
  color: #F16D7F;
}

@media (max-width: 667px) {
  .intro__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.d-block {
  margin: 0 auto;
}

.carousel-item {
  background: #f7f7f7;
}

.carousel-control-prev {
  left: 5px;
  margin-top: 30vh;
  width: 47px;
  height: 47px;
  background: rgba(42, 42, 42, 0.15);
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='23' viewBox='0 0 13 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.6998 3.7499L4.9498 11.4999L12.6998 19.2499L11.1498 22.3499L0.299805 11.4999L11.1498 0.649902L12.6998 3.7499Z' fill='black'/%3E%3C/svg%3E%0A");
}

.carousel-control-prev-icon:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='23' viewBox='0 0 13 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.6998 3.7499L4.9498 11.4999L12.6998 19.2499L11.1498 22.3499L0.299805 11.4999L11.1498 0.649902L12.6998 3.7499Z' fill='%23F16D7F'/%3E%3C/svg%3E%0A");
}

.carousel-control-next {
  right: 5px;
  margin-top: 30vh;
  width: 47px;
  height: 47px;
  background: rgba(42, 42, 42, 0.15);
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='23' viewBox='0 0 13 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.299805 19.2499L8.0498 11.4999L0.299805 3.7499L1.8498 0.649902L12.6998 11.4999L1.8498 22.3499L0.299805 19.2499Z' fill='black' /%3E%3C/svg%3E");
}

.carousel-control-next-icon:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='23' viewBox='0 0 13 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.299805 19.2499L8.0498 11.4999L0.299805 3.7499L1.8498 0.649902L12.6998 11.4999L1.8498 22.3499L0.299805 19.2499Z' fill='%23F16D7F'/%3E%3C/svg%3E");
}

.carousel {
  position: relative;
}

.carousel__info {
  position: absolute;
  z-index: 2;
  width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #eaeaea;
  margin-top: -64px;
  background: white;
  padding: 64px 0;
}

.carousel__info h3 {
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.carousel__info--red-line {
  display: block;
  width: 63px;
  border: 1.5px solid #F16D7F;
  background: #ef5b70;
  margin-bottom: 12px;
}

.carousel__info h2 {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  margin-bottom: 48px;
}

.carousel__info p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5E5E5E;
  text-align: center;
  max-width: 555px;
  margin-bottom: 32px;
}

.carousel__info h1 {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  margin-bottom: 65px;
}

.carousel__info--grey-line {
  display: block;
  width: 641px;
  margin-bottom: 65px;
  border: 1px solid #EAEAEA;
}

.carousel__item {
  margin-bottom: 49px;
}

.carousel__item select {
  border: 1px solid white;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.carousel__item select:not(last-child) {
  margin-right: 22px;
}

.carousel__btn {
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  padding: 14px 56px 15px 73px;
  background: url("data:image/svg+xml,%3Csvg width='27' height='25' viewBox='0 0 27 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.49847 22.185C5.50635 21.752 5.64091 21.3309 5.88519 20.9748C6.12947 20.6186 6.47261 20.3431 6.87158 20.1828C7.27055 20.0226 7.7076 19.9848 8.12781 20.0741C8.54802 20.1635 8.93269 20.376 9.23358 20.685C9.53447 20.994 9.73817 21.3857 9.81909 21.811C9.90002 22.2363 9.85453 22.6763 9.68842 23.0756C9.52231 23.475 9.24296 23.8161 8.88538 24.0559C8.52779 24.2957 8.10791 24.4237 7.67847 24.4237C7.38955 24.4211 7.10399 24.3611 6.83807 24.2472C6.57216 24.1333 6.3311 23.9676 6.12866 23.7597C5.92623 23.5518 5.76639 23.3057 5.65826 23.0355C5.55013 22.7653 5.49584 22.4763 5.49847 22.185ZM21.3045 24.4237C20.8711 24.4303 20.4453 24.3087 20.0797 24.074C19.7141 23.8393 19.4247 23.5017 19.2471 23.103C19.0696 22.7042 19.0117 22.2618 19.0806 21.8303C19.1496 21.3988 19.3423 20.9971 19.6351 20.6748C19.9278 20.3524 20.3077 20.1236 20.728 20.0165C21.1482 19.9095 21.5903 19.929 21.9997 20.0724C22.4091 20.2159 22.7679 20.4771 23.0317 20.8238C23.2956 21.1706 23.453 21.5877 23.4845 22.0236C23.5269 22.6155 23.3369 23.2004 22.9555 23.6523C22.7706 23.8745 22.5436 24.0574 22.2877 24.1901C22.0319 24.3227 21.7524 24.4025 21.4655 24.4247L21.3045 24.4237ZM8.59351 17.4855C8.38116 17.4851 8.17488 17.414 8.00671 17.2833C7.83855 17.1525 7.71792 16.9694 7.66351 16.7624L3.73651 2.19527H0.978516C0.719001 2.19527 0.470064 2.09128 0.28656 1.90622C0.103056 1.72116 0 1.47018 0 1.20847C0 0.946764 0.103056 0.695782 0.28656 0.510726C0.470064 0.325669 0.719001 0.22168 0.978516 0.22168H4.45752C4.66982 0.222254 4.876 0.293463 5.04413 0.424184C5.21226 0.554905 5.33295 0.737883 5.38751 0.944787L9.31451 15.5119H20.0185L23.5765 7.12665H11.7185C11.459 7.12665 11.2101 7.02266 11.0266 6.83761C10.8431 6.65255 10.74 6.40157 10.74 6.13986C10.74 5.87815 10.8431 5.62717 11.0266 5.44211C11.2101 5.25705 11.459 5.15306 11.7185 5.15306H25.0535C25.2131 5.15352 25.3701 5.19451 25.5099 5.27223C25.6497 5.34995 25.7679 5.46195 25.8535 5.59784C25.9413 5.73569 25.9945 5.89303 26.0084 6.05627C26.0224 6.21951 25.9966 6.38368 25.9335 6.53465L21.5425 16.8935C21.469 17.0684 21.3462 17.2177 21.1895 17.3229C21.0327 17.4281 20.8488 17.4846 20.6605 17.4855H8.59351Z' fill='%23EF5B70'/%3E%3C/svg%3E") no-repeat 23px center white;
  border: 1px solid #FF6A6A;
}

.carousel__btn a {
  color: #F26376 !important;
  text-decoration: none;
}

.product__card {
  margin: 664px 0 128px 0;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 16px;
}

.cart__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 96px 0 128px 0;
}

.cart__price {
  width: 360px;
  height: 214px;
  background: #f5f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart__price h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 39px 34px 12px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  width: 108px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart__price h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0 37px 21px 0;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  width: 170px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart__price_red {
  font-weight: bold;
  color: #F16D7F;
}

.cart__price hr {
  width: 275px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  border: 1px solid #E2E2E2;
  margin-bottom: 17px;
}

.cart__price button {
  padding: 15px 43px 16px 41px;
  max-width: 273px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  background: #f16d7f;
  border: none;
  cursor: pointer;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 652px;
  max-height: 306px;
  -webkit-box-shadow: 17px 19px 24px 0px rgba(0, 0, 0, 0.13);
          box-shadow: 17px 19px 24px 0px rgba(0, 0, 0, 0.13);
}

.cart__item:first-child {
  margin-bottom: 40px;
}

.cart__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 72px;
}

.cart__wrap button {
  cursor: pointer;
  padding: 17px 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: 1px solid #a4a4a4;
  background-color: #FFFFFF;
}

.cart__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 22px 97px 0 31px;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.2453 9L17.5302 2.71516C17.8285 2.41741 17.9962 2.01336 17.9966 1.59191C17.997 1.17045 17.8299 0.76611 17.5322 0.467833C17.2344 0.169555 16.8304 0.00177586 16.4089 0.00140366C15.9875 0.00103146 15.5831 0.168097 15.2848 0.465848L9 6.75069L2.71516 0.465848C2.41688 0.167571 2.01233 0 1.5905 0C1.16868 0 0.764125 0.167571 0.465848 0.465848C0.167571 0.764125 0 1.16868 0 1.5905C0 2.01233 0.167571 2.41688 0.465848 2.71516L6.75069 9L0.465848 15.2848C0.167571 15.5831 0 15.9877 0 16.4095C0 16.8313 0.167571 17.2359 0.465848 17.5342C0.764125 17.8324 1.16868 18 1.5905 18C2.01233 18 2.41688 17.8324 2.71516 17.5342L9 11.2493L15.2848 17.5342C15.5831 17.8324 15.9877 18 16.4095 18C16.8313 18 17.2359 17.8324 17.5342 17.5342C17.8324 17.2359 18 16.8313 18 16.4095C18 15.9877 17.8324 15.5831 17.5342 15.2848L11.2453 9Z' fill='%23575757'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 96% 4%;
}

.cart__text h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  margin-bottom: 42px;
}

.cart__text h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.cart__text h3:not(:last-child) {
  margin-bottom: 6px;
}

.cart__text_red {
  color: #EF5B70;
}

.cart__text_border {
  padding: 1px 16px;
  border: 1px solid #EAEAEA;
  margin-left: 40px;
}

.adress-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.adress-form h3 {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.adress-form__input {
  width: 360px;
  height: 45px;
  margin-top: 20px;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  padding: 13px 0 16px 17px;
  border: 1px solid #a4a4a4;
}

.adress-form__input:first-child {
  color: #B1B1B1;
}

.adress-form__btn {
  cursor: pointer;
  margin: 24px 0 57px 0;
  padding: 10px 14px 12px 15px;
  max-width: 100px;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  background: white;
  border: 1px solid #a4a4a4;
}

@media (max-width: 1060px) {
  .cart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 59px 18px 128px 16px;
  }
  .cart__column {
    margin: 0;
  }
  .cart__column:first-child {
    margin-bottom: 64px;
  }
  .cart__item {
    max-width: 100%;
  }
  .cart__text {
    width: 100%;
  }
  .cart__wrap {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 62px;
  }
  .adress-form {
    margin-right: 15px;
  }
  .alignment {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 667px) {
  .cart {
    padding: 38px 9px 96px 9px;
  }
  .cart__item {
    max-height: 188px;
  }
  .cart__column:first-child {
    margin-bottom: 48px;
  }
  .cart__text {
    width: 100%;
    padding: 13px 53px 37px 17px;
  }
  .cart__text h2 {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 25px;
  }
  .cart__text h3 {
    font-size: 14px;
    line-height: 17px;
  }
  .cart__text h3:not(:last-child) {
    margin-bottom: 4px;
  }
  .cart__text_border {
    padding: 1px 9px;
    margin-left: 15px;
  }
  .cart__wrap {
    margin-top: 30px;
  }
  .cart__wrap button {
    padding: 9px 17px;
    font-size: 12px;
    line-height: 14px;
  }
  .alignment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .adress-form {
    margin-right: 0;
  }
}

.registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 64px 16px 96px 16px;
}

.registration-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 360px;
  margin-right: 11%;
}

.registration-form h5 {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.registration-form__input {
  width: 100%;
  padding: 13px 0 16px 17px;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  border: 1px solid #a4a4a4;
}

.registration-form__input:nth-child(even) {
  margin: 21px 0;
}

.registration-form__text {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin: 15px 0 39px 0;
}

.registration-form__btn {
  cursor: pointer;
  width: 167px;
  height: 50px;
  background: #f16d7f;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  text-align: left;
  padding-left: 29px;
  border: none;
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='10' viewBox='0 0 17 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.54 0.208095C11.6058 0.142131 11.684 0.0897967 11.77 0.0540883C11.8561 0.01838 11.9483 0 12.0415 0C12.1347 0 12.2269 0.01838 12.313 0.0540883C12.399 0.0897967 12.4772 0.142131 12.543 0.208095L16.7929 4.458C16.8589 4.5238 16.9112 4.60196 16.9469 4.68802C16.9826 4.77407 17.001 4.86632 17.001 4.95949C17.001 5.05266 16.9826 5.14491 16.9469 5.23097C16.9112 5.31702 16.8589 5.39518 16.7929 5.46098L12.543 9.71089C12.41 9.84389 12.2296 9.91861 12.0415 9.91861C11.8534 9.91861 11.673 9.84389 11.54 9.71089C11.407 9.57788 11.3323 9.39749 11.3323 9.2094C11.3323 9.0213 11.407 8.84091 11.54 8.70791L15.2898 4.95949L11.54 1.21107C11.474 1.14528 11.4217 1.06711 11.386 0.981059C11.3503 0.895005 11.3319 0.802752 11.3319 0.709584C11.3319 0.616415 11.3503 0.524162 11.386 0.438109C11.4217 0.352055 11.474 0.273891 11.54 0.208095Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 4.95948C0 4.77162 0.0746263 4.59146 0.207462 4.45862C0.340297 4.32579 0.52046 4.25116 0.708318 4.25116H15.583C15.7708 4.25116 15.951 4.32579 16.0838 4.45862C16.2167 4.59146 16.2913 4.77162 16.2913 4.95948C16.2913 5.14734 16.2167 5.3275 16.0838 5.46033C15.951 5.59317 15.7708 5.6678 15.583 5.6678H0.708318C0.52046 5.6678 0.340297 5.59317 0.207462 5.46033C0.0746263 5.3275 0 5.14734 0 4.95948Z' fill='white'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 29px center;
  -webkit-transition: 1s;
  transition: 1s;
}

.registration-form__btn:hover {
  background-color: rgba(33, 22, 22, 0.7);
  color: #F16D7F;
  -webkit-transform: translateX(35px) rotateY(-360deg) scale(1.5);
          transform: translateX(35px) rotateY(-360deg) scale(1.5);
}

.registration-form__radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 31px 0 33px 0;
}

.registration-form__radio p {
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  margin-right: 20px;
}

.registration-form__radio p input {
  margin-right: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.registration-form__radio p input:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.registration__privilege {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.registration__privilege p {
  margin-bottom: 21px;
}

.registration__privilege li {
  list-style: none;
  padding-left: 43px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='16' viewBox='0 0 20 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.8035 0H18.0904C17.8502 0 17.6222 0.111827 17.4752 0.303176L7.3702 13.2826L2.52481 7.05754C2.45151 6.96318 2.35808 6.88688 2.25153 6.83438C2.14499 6.78187 2.0281 6.75451 1.90963 6.75437H0.196467C0.032258 6.75437 -0.0584248 6.94572 0.0420614 7.07494L6.75503 15.6981C7.06874 16.1006 7.67166 16.1006 7.98782 15.6981L19.9579 0.318087C20.0584 0.191349 19.9677 0 19.8035 0Z' fill='black'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: left center;
}

.registration__privilege li:not(:last-child) {
  margin-bottom: 16px;
}

@media (max-width: 1024px) {
  .registration-form {
    margin-right: 22px;
  }
  .registration__privilege {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }
}

@media (max-width: 667px) {
  .registration {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .registration-form {
    margin-right: 0;
    margin-bottom: 40px;
  }
}
/*# sourceMappingURL=style.css.map */