.catalog_block{
    margin: 51px 0 97px 0;
}
.choice{
    display: flex;
    margin-bottom: 64px;
}
.filter{
    left: 16px;
    cursor: pointer;
    width: 360px;
    position: relative;
    outline: none;
    border: none;
    background: #FFFFFF;
}
.filter_content{
    position: absolute;
    background: #FFFFFF;
    width: 360px;
    box-shadow: 16px 25px 23px 2px rgba(0, 0, 0, 0.21);
    padding: 16px 0 0 16px;
}
details > summary{
    list-style: none;
}
.filter summary{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
.filter svg{
    fill: black;
}
.filter[open] {
    z-index: 2;
    left: 0;
    top: 0;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter[open]>summary {
    color: #EF5B70;
    outline: none;
    border: none;
    padding: 13px 0 0 16px;
}
.filter[open] > summary svg{
    fill: #EF5B70;
}
.filter_content > details > summary{
    display: block;
    width: 327px;
    color: #EF5B70;
    outline: none;
    border-left: 5px solid #EF5B70;
    border-bottom: 1px solid #EBEBEB;
    padding: 11px;
    margin-bottom: 18px;
}
.filter__list{
    margin: 24px 0 24px 34px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}
.filter__list ol:not(:last-child){
    margin-bottom: 11px;
}
select{
    border: 1px solid white;
}
.sort{
    display: flex;
    margin-left: 30px;
}
.sort_select{
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}
.sort_select:not(:last-child){
    margin-right: 28px;
}
.card:nth-child(-n+6){
    margin-bottom: 30px;
}
.card_pagination{
    display: flex;
    justify-content: center;
    margin-top: 48.5px;
}
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
    border: 1px solid #EBEBEB;
}
ul.pagination li {
    display: inline;
}
ul.pagination li a {
    text-decoration: none;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #C4C4C4;
}
ul.pagination li a:hover{
    color: #EF5B70;
}