@import "vars";

.footer{
    background-blend-mode: lighten;
    background-color: rgba(244, 244, 244, 0.7);
    background-image: url(../img/back_footer.jpg);
    background-repeat: no-repeat;
    background-position: center;

    &__info{
        @include disflex();
        justify-content: space-between;
    }
    &__text{
        @include disflex();
        margin: 97px 0 126px 0;
        background-image: url(../img/face.png);
        background-repeat: no-repeat;
        background-position: top;
        max-height: 225px;
        max-width: 360px;
        text-align: center;

        & p{
            margin-top: 126px;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
        }
    }
    &-basement{
        background: rgba(34, 34, 36, 1);

        &__content{
            padding: 24px 0 24px 0;
            @include disflex();
            justify-content: space-between;    
        }
        &__text{
            @include disflex();
            align-self: center;
            font-size: 16px;
            line-height: 19px;
            color: #FBFBFB;
        }
        &__list{
            @include disflex();
        }
        &__item{
            width: 32px;
            height: 32px;
            @include disflex();
            align-items: center;
            justify-content: center;
            background-color: rgba(255, 255, 255, 1);

            &:not(:last-child){
                margin-right: 7px;
            }
            &:hover{
                background-color: #F16D7F;

                & svg{
                    fill: #FFFFFF;
                }
            }
            & svg{
                fill: #000000;
            }
        }
        &__link{
            width: 32px;
            height: 32px;
            color: #000000;
            font-size: 20px;
            background: rgba(255, 255, 255, 1);
            @include disflex();
            justify-content: center;
            align-items: center;

            &:not(:last-child){
                margin-right: 7px;
            }
            &:hover{
                color: #FFFFFF;
                background: rgba(241, 109, 127, 1);
            }
        }
    }
}
.subscribe-form{
    max-width: 557px;
    margin: 150px 0 156px 0;

    & h3{
        font-weight: normal;
        font-size: 18px;
        line-height: 167.2%;
        text-align: center;
        margin-bottom: 32px;
    }
    & span{
        font-weight: bold;
        font-size: 24px;
    }
    &__item{
        @include disflex();
    }
    &__input{
        background: #E1E1E1;
        width: 256px;
        height: 49px;
        border-radius: 50px 0 0 50px;
        border: 0px;
        padding-left: 22px;
        font-size: 14px;
        line-height: 17px;
        color: #222224;
        opacity: 0.67;
    }
    &__button{
        cursor: pointer;
        background: rgba(241, 109, 127, 1);
        width: 100px;
        height: 49px;
        border-radius: 0 50px 50px 0;
        border: 0px;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
    }
}
