@import "vars";

header{
    background: #222222;
    padding: 19px 10px;
}
.header{
    @include disflex();
    justify-content: space-between;
    &-left{
        @include disflex();
    }
    &-right{
        @include disflex();
    }
    &__logo{
        margin-right: 41px;
        text-decoration: none;
    }
    &__item{
        align-self: center;
        text-decoration: none;
        
        &:not(:last-child){
            margin-right: 33px;
        }
    }
    &__search-form{
        align-self: center;
    }
}
