@import "vars";

.intro{
    background: rgba(248, 243, 244, 1);

    &__wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;

        & h2{
            @include text(normal, 24px, 29px, #F16D7F);
            margin: 60px 0;
        }
        & h3{
            @include text(300, 14px, 17px, #636363);
        }
        & span{
            font-weight: bold;
            color: #F16D7F;
        }
    }
}